{% extends 'Layout/base.html.twig' %}

{% block title %}Welcome Trekies!{% endblock %}

{% block addCSS %}{% endblock %}

{% block body %}
	<div>
		<div class="flex-container--column mw960p mauto pbl">
			<img src="{{ asset('images/where-no-one/to-bodly.png')}}">
			<img src="{{ asset('images/where-no-one/tos.gif')}}">
			<img src="{{ asset('images/where-no-one/tng.gif')}}">
			<img src="{{ asset('images/where-no-one/go-where.png')}}">
			<img src="{{ asset('images/where-no-one/ds9.gif')}}">
			<img src="{{ asset('images/where-no-one/voy.gif')}}">
			<img src="{{ asset('images/where-no-one/no-one-has.png')}}">
			<img src="{{ asset('images/where-no-one/ent.gif')}}">
			<img src="{{ asset('images/where-no-one/disco.gif')}}">
			<img src="{{ asset('images/where-no-one/gone-before.png')}}">
		</div>
	</div>
{% endblock %}

{% block addJS %}{% endblock %}